
#banner {
    display: flex;
    justify-content: center;
    background-image: url(../images/fotobaaner.jpg);
    background-position: center;
    background-size: cover;
    height: 620px;
    border-bottom: 2px solid #cccccc;
    border-top: 2px solid #cccccc;
}

#banner .container {
    width: 700px;
}
.column {
    flex-direction: column;
}

.banner_headline {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1 {
    color: var(--vermelho);
    font-size: 80px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
}

.banner_headline h2 {
    color: white;
    font-size: 21px;
    text-shadow: 0px 1px 0px #555555;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-top: 30px;
}

.banner_options {
    height: 260px;
    display: flex;
}

.banner1, .banner2, .banner3 {
    flex:1;
    padding: 20px;
    color: white;
}

.banner1 {
    background-color:var(--laranja);
}
/* 
.banner2 {
    background-color: var(--verde);    
}

.banner3 {
    background-color: var(--vermelho);    
} */

.banner_title {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
}

.banner_desc {
    font-size:22px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.banner_options a {
    display: inline-block;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    padding: 5px;
    color:#FFFFFF;
    font-size:18px;
    text-decoration: none;
    font-weight: bold;
    
}

.banner_options a:hover {
    background-color: white;
    color: var(--laranja);
}
.saiba_mais {
    text-align: center;
}

.procedencias {
    display: flex;
    justify-content: center;
}

.procedenciasInt {
    flex: 1;
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 30px 20px;
    -webkit-box-shadow: 4px 4px 10px 6px rgba(163,158,163,1);
    -moz-box-shadow: 4px 4px 10px 6px rgba(163,158,163,1);
    box-shadow: 4px 4px 10px 6px rgba(163,158,163,1);
    border-radius: 4px;
}
.title_procedencia {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 10px;
    color: var(--laranja);
    font-weight: 900;
}

.icone {
    text-align: center;
    margin-bottom: 10px;
}

.procedenciasInt img{
    height: 100px;
    text-align: center;
}

.procedenciasInt p {
    line-height: 1.6em;
    font-size: 18px;
    text-align: justify;   
}

.conteudo_principal {
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.widget {
    padding: 20px;
 }
 
 .widget_title {
     margin: 20px;
   
 }
 
 .widget_title_text {
     color:var(--laranja);
     font-size:2.2em;
     font-weight: bold;
     padding: 0 35px;
 }
 
 .widget_title_bar {
     width: 130px;
     margin-left: 35px;
     height: 2px;
     background-color: var(--cinza-fonte);
     margin-top:5px;
 }
 
 article {
     flex:1;
     min-width: 250px;
     padding: 0px 50px;
 }
 
 article a {
     text-decoration: none;
 }
 
 article .news_data {
     display: flex;
     padding: 5px;
 }
 
 article .news_posted_at {
     background-color:var(--verde);
     color: white;
     font-size:14px;
     padding: 10px;
     margin-right: 3px;
     font-weight: 600;
 }
 
 article .news_comments {
     background-color: var(--verde);
     color: white;
     font-size:14px;
     font-weight: 600;
     padding: 10px;    
 }
 article .news_thumbnail {
     margin-top:30px;
 }
 article .news_thumbnail img {
     width: 100%;
     height: 300px;   
 }
 
 article .news_title {
     padding: 0 10px;
     margin-top: 10px;
     margin-bottom: 10px;
     color:var(--laranja);
     font-weight: bold;
     font-size:2.0em;
     text-align:center;
 }
 
 article .news_resume {
     padding: 0 10px;
     font-size: 1.3em;
     color:#5c5c5c;
     line-height: 1.5em;
     margin-bottom: 30px;
     text-align: justify;
 }