
#banner_quemsomos {
    background-image: url(../images/maaaao.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 40px;
}


.banner_headline_quemsomos h1 {
    color: #D3DADF;
    font-size: 2.0em;
    text-shadow: 0px 1px 0px #555555;
    font-weight: 100;
    padding: 20px;
    max-width: 400px;
}

.banner_headline_quemsomos h2 {
    color: #D3DADF;
    font-size: 1.2em;
    font-weight: 100;
    text-shadow: 0px 1px 0px #cccccc;
    padding: 0 22px;
    max-width: 600px;
  
}

.visao_valores {
    display: flex;
    justify-content: center;
    margin: 50px 0; 
}

.titulo_quemsomos {
    text-align: center;
    margin-top: 60px;
    color:var(--cinza-fonte);
    font-weight: bold;
}

.titulo_quemsomos h1{
    font-size: 3.5em;
}

.titulo_quemsomos h2{
    font-size: 2.5em;
}

.sobre {
    display: flex;
}

.imagemsobre {
    padding: 0 35px;
}

.imagemsobre img {
    border-radius: 5px;
}

.texto_sobre h3 {
    font-size: 2.2em;
    padding-bottom: 15px;
    color:var(--laranja);
    
}

.texto_sobre h4 {
    font-size: 1.8em;
    padding-top: 15px;
    color: var(--verde);
}

.texto_sobre p {
    font-size: 1.3em;
}

.comunidade {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 100px;
}

.comentarios {
    padding: 50px;
    -webkit-box-shadow: 5px 5px 15px 15px rgba(227,224,227,1);
    -moz-box-shadow: 5px 5px 15px 15px rgba(227,224,227,1);
    box-shadow: 5px 5px 15px 15px rgba(227,224,227,1);
    
}

.comentarios h5 {
    font-size: 2.4em;
    padding-top: 15px;
    color: var(--vermelho);
    text-align: center;
    font-weight: 900;
}

.comentarios p {
    font-size: 1.6em;
    max-width: 400px;
    padding: 20px 0;
    color: var(--cinza-fonte);
}

.comentarios div {
    text-align: center;
    font-size: 1.4em;
    color: black;
    font-weight: 900;
}

@media(max-width:1169px){
    .imagemsobre img {
        width: 400px;
    }
}
/* celular */
@media(max-width:845px){
    .img_quemsomos {
        max-width:100% ;
    }

    .sobre {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .texto_sobre {
        padding-top: 20px;
    }
    
    .texto_sobre p {
        width: 350px;
    }

    .visao_valores .container{
        display: flex;
        justify-content: center;
    }
    
    .comentarios p {
        width: 330px;
    }
}